<div class="mt-2" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row">
    <div *ngFor="let row of this.gameBoard; let i = index">
      <p class="cell text-white">{{i}}</p>
    </div>
  </div>
  <div class="table-panel m-0 p-0">
    <div fxLayout="row" fxLayoutAlign="center center" *ngFor="let row of this.gameBoard; let i = index">
      <p class="cell text-white">{{i}}</p>
      <app-cell *ngFor="let column of row; let j = index" [row]="i" [column]="j" (click)="selectCell(i,j)"
        id="{{i}}_{{j}}" #cell>
      </app-cell>
      <p class="cell text-white">{{i}}</p>
    </div>
  </div>
  <div fxLayout="row">
    <div *ngFor="let row of this.gameBoard; let i = index">
      <p class="cell text-white">{{i}}</p>
    </div>
  </div>
</div>


